.headline .appeal_id { position: relative; top: 5px; }
.appeal .msg .notice { top: -67px; }
.toappeal { background-color: #e5bb00; color: #FFF; }
.appeal .msg .detailsDiv .notice { top: -60px; }

.quickReply { position: fixed; *position: absolute; right: 0; background-color: #FFF; width: 600px; padding: 10px; border: 1px solid #CCC; border-right: 0; top: 0; z-index: 40000; }
.quickReply ul li a:hover{ text-decoration: underline; }
.quickReply ul li { margin: 10px 0; }
